interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.entreprise.api.gouv.fr/v3/european_commission/unites_legales/409603032/numero_tva?context=test&object=test&recipient=26350579400028
  response:
    body:
      string: "{\"errors\":[{\"code\":\"28003\",\"title\":\"Entit\xE9 non trouv\xE9e\",\"detail\":\"L'identifiant
        indiqu\xE9 n'existe pas, n'est pas connu ou ne comporte aucune information
        pour cet appel.\",\"meta\":{\"provider\":\"Commission Europ\xE9enne\"}}]}"
    headers:
      Content-Type:
      - application/vnd.api+json
      RateLimit-Limit:
      - '250'
      RateLimit-Remaining:
      - '249'
      RateLimit-Reset:
      - '1680270840'
      Status:
      - 404 Not Found
      X-Response-Cached:
      - 'false'
    status:
      code: 404
      message: Not Found
version: 1
