interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.entreprise.api.gouv.fr/v3/dgfip/etablissements/25351449100047/chiffres_affaires?context=test&object=test&recipient=26350579400028
  response:
    body:
      string: '{"data":[{"data":{"chiffre_affaires":900001,"date_fin_exercice":"2015-12-01"},"links":{},"meta":{}}],"meta":{},"links":{}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      ETag:
      - W/"74eedebf4a0e3f6311611bececfa55dd"
      RateLimit-Limit:
      - '250'
      RateLimit-Remaining:
      - '248'
      RateLimit-Reset:
      - '1680270780'
      Status:
      - 200 OK
      X-Response-Cached:
      - 'false'
    status:
      code: 200
      message: OK
version: 1
