interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.entreprise.api.gouv.fr/v3/qualibat/etablissements/25351449100047/certification_batiment?context=test&object=test&recipient=26350579400028
  response:
    body:
      string: '{"data":{"document_url":"https://storage.entreprise.api.gouv.fr/siade/1635521735-1a675fc210d09e04604aabe5e93b452fb56865f5-certificat_qualibat.pdf","expires_in":7889238},"links":{},"meta":{}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      ETag:
      - W/"ab75f6dea8ca0ea7c9b922488bc5457f"
      RateLimit-Limit:
      - '50'
      RateLimit-Remaining:
      - '49'
      RateLimit-Reset:
      - '1680270780'
      Status:
      - 200 OK
      X-Response-Cached:
      - 'false'
    status:
      code: 200
      message: OK
version: 1
