interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.entreprise.api.gouv.fr/v3/ademe/etablissements/25351449100047/certification_rge?context=test&object=test&recipient=26350579400028
  response:
    body:
      string: "{\"data\":[{\"data\":{\"url\":\"https://www.qualypso.fr/download_file.php?id=545cf132-b12f-445d-bcde-56a5b235b1d0\",\"nom_certificat\":\"Qualisol
        CESI\",\"domaine\":\"dummy\",\"meta_domaine\":\"anciens domaines avant 2021\",\"qualification\":{\"code\":\"32\",\"nom\":\"QualiPV
        Elec - Pose de g\xE9n\xE9rateur photovolta\xEFque raccord\xE9 au r\xE9seau
        (32)\"},\"organisme\":\"qualibat\",\"date_attribution\":\"2020-12-24\",\"date_expiration\":\"2025-08-01\",\"meta\":{\"internal_id\":\"Q112379-8611M12D10-2017-03-23\",\"updated_at\":\"2021-02-25\",\"archived\":true}},\"links\":{},\"meta\":{}}],\"meta\":{},\"links\":{}}"
    headers:
      Content-Type:
      - application/vnd.api+json
      ETag:
      - W/"f1c51a86dda052865cc5dc9764e0e696"
      RateLimit-Limit:
      - '250'
      RateLimit-Remaining:
      - '249'
      RateLimit-Reset:
      - '1680270780'
      Status:
      - 200 OK
      X-Response-Cached:
      - 'false'
    status:
      code: 200
      message: OK
version: 1
