interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.entreprise.api.gouv.fr/v3/insee/sirene/etablissements/26350579400028?context=test&object=test&recipient=26350579400028
  response:
    body:
      string: "{\"errors\":[{\"code\":\"00211\",\"title\":\"Le param\xE8tre recipient
        est identique au SIRET/SIREN appel\xE9.\",\"detail\":\"Le param\xE8tre recipient
        est identique au SIRET/SIREN appel\xE9, or ce param\xE8tre de tra\xE7abilit\xE9
        doit correspondre au SIRET de l'organisation publique habilit\xE9e \xE0 utiliser
        la donn\xE9e. Si vous \xEAtes une collectivit\xE9 ou une administration, ce
        param\xE8tre doit donc \xEAtre votre num\xE9ro de SIRET ; si vous \xEAtes
        un \xE9diteur, il s'agit du SIRET de l'organisation publique cliente demandant
        la donn\xE9e.\",\"source\":{\"parameter\":\"recipient\"},\"meta\":{}}]}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '250'
      RateLimit-Remaining:
      - '246'
      RateLimit-Reset:
      - '1680270780'
      Status:
      - 422 Unprocessable Entity
      X-Response-Cached:
      - 'false'
    status:
      code: 422
      message: Unprocessable Entity
version: 1
